.table-wrapper {
  width: 100%;
  padding: 15px;
  border-radius: 5px;

  button {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  .p-datatable-wrapper {
    box-shadow: 0px 0px 10px rgba(white, 0.3);
    border: 0px;
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 6px 6px 0px 0px;
  }

  .p-paginator {
    padding: 10px;
    border-radius: 0px 0px 6px 6px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px rgba(white, 0.3);
    border: 0px;

    .p-dropdown {
      overflow: visible;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    table-layout: inherit;

    thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
      text-align: center;
      background-color: blue;

      &.p-datatable-thead {
        tr {
          th {
            display: table-cell;
            padding: 12px 15px;
            font-family: 'Soleil', sans-serif;
            font-size: 14px;
            background-color: black;
            color: white;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            text-transform: uppercase;
            white-space: nowrap;
            outline: 0;

            &:first-of-type {
              width: 20%;
            }

            &:last-of-type {
              width: 15%;
            }

            &.p-highlight {
              color: black;
            }

            &.p-sortable-column {

              &:focus {
                box-shadow: none;
              }

              .p-sortable-column-icon {
                font-size: 12px;
                color: rgba(218, 218, 218, 0.884);
                margin-top: -3px;
              }
            }
          }
        }
      }
    }

    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
      text-align: center;

      &.p-datatable-tbody {
        tr {
          height: 50px !important;

          .td-post-code-cell {
            white-space: normal;
            max-width: 230px;
          }

          .td-cell-percentage-width {
            white-space: normal;
            width: 10%;
          }

          td {
            display: table-cell;
            color: black;
            text-align: center;
            font-family: 'SoleilLt', sans-serif;
            font-size: 14px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            padding-left: 10px;
            background-color: rgb(218, 218, 218);

            button {
              color: black;
            }

            @media screen and (max-width: 600px) {
              span {
                color: rgb(102, 102, 102);
                width: 100%;
              }

              &:last-of-type {
                span {
                  display: none;
                }
              }
            }

            &:first-of-type {
              width: 20%;
              padding-left: 20px;

              @media screen and (max-width: 600px) {
                padding-left: 10px;
              }

              text-align: left !important;
            }

            &:last-of-type {
              text-align: center;

              button {
                text-align: center;

                span {
                  display: none
                }

                &:hover {
                  color: white;
                }
              }

              @media screen and (max-width: 600px) {
                text-align: center;
                font-size: 10px;

                button {
                  width: fit-content;
                  font-weight: bolder;
                  background-color: rgb(0, 0, 0);
                  color: rgb(255, 255, 255);
                  box-shadow: 0px 0px 10px rgba(white, 0.5);

                  i {
                    display: none;
                  }

                  span {
                    color: white;
                    width: fit-content;
                    display: block
                  }

                  &:hover {
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                  }

                }
              }
            }
          }

          &:hover {
            td {
              color: rgb(218, 218, 218);

              span {
                color: rgba(218, 218, 218, 0.473);
              }

              background-color: rgb(0, 0, 0);
            }

            button {
              color: white;
            }
          }
        }
      }
    }
  }
}